.home-page-wrapper {
    width: 1000px;
    min-height: 600px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(
        285deg,
        rgb(165, 161, 245) 0%,
        rgb(214, 224, 235) 80%
    );
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    .home-page-tasks-wrapper {
        width: 680px;
    }

    .single-task-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .single-task {
        height: 40px;
        padding: 0px 120px;
        background-color: antiquewhite;
        caret-color: gray;
        border: 3px solid rgb(165, 161, 245);
        border-radius: 5px;
        outline: none;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &::selection {
            color: black;
        }

        &.single-task-editable {
            border-color: rgb(58, 197, 58);
            background-color: white;
            cursor: text;
            &::selection {
                background-color: rgba(255, 165, 0, 0.4);
            }
        }
    }

    .single-task-button {
        background-color: gray;
        color: antiquewhite;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background-color: rgb(78, 78, 78);
        }
    }
}
