.home-page-wrapper {
    width: 1000px;
    min-height: 600px;
    margin: 75px auto 50px auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-image: url('./assets/cork-background.jpg');
    position: relative;

    .pin-image {
        position: absolute;
        top: -15px;
        height: 60px;
        width: 60px;
        z-index: 2;
    }

    .pin-left {
        left: -2px;
    }

    .pin-right {
        left: 632px;
    }

    .home-page-items-wrapper {
        width: 680px;
    }

    .single-item-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .single-item {
        height: 40px;
        padding: 0px 100px;
        background-color: antiquewhite;
        caret-color: gray;
        border: 3px solid rgb(165, 161, 245);
        border-radius: 5px;
        outline: none;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::selection {
            color: black;
        }

        &.single-item-editable {
            border-color: rgb(58, 197, 58);
            background-color: white;
            cursor: text;

            &::selection {
                background-color: rgba(255, 165, 0, 0.4);
            }

            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}
