*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p,
input,
span,
button,
input::placeholder {
    font: normal normal bold 20px/20px Arial, Helvetica, sans-serif;
}
